* {
  box-sizing: border-box;
  margin: 0;
}

body {
 min-width: 400px;
 font-family: Roboto;
 font-size: 18px;
 font-weight: 500;
}

main > * {
 margin: 0 auto;
}

a {
 text-decoration: none;
 color: black;
}

header {
 background-color: #bbb;
 border-radius: 20px;
}

header > div {
 max-width: 1200px;
 margin: 0 auto;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 padding: 10px 20px;
 background-color: #bbb;
 font-size: 32px;
}

header > div > div a + span {
color: #555;
}

header a {
color: #000;
transition: color .5s;
}

header a:hover {
color: #0013de;
}
 
.userContainer {
  display: flex;
  align-items: center;
  position: relative;
}

article {
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  align-items: flex-start; /* Align elements to the left within the container */
  background-color: #eee; /* Add a grey background color for each post */
  border-radius: 20px; /* Rounded corners for the post container */
  padding: 10px; /* Add padding to create space between the content and the border */
  margin-bottom: 20px; /* Add margin to separate posts */
}



.userContainer {
display: flex;
align-items: center;
position: relative;
}

.userLink {
 display: block;
 width: 64px;
 height: 64px;
 background-image: url(../img/user.png);
  font-weight: bold;
  margin-top: 5px; /* Add margin to push the author's name down to avoid overlap */

 
}



.dropdownMenu {  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #d1d1d1;
  border-radius: 10px;
  width: 230px;
  padding: 0 10px 10px 10px;
}


.dropdownMenu ul {
list-style: none;
padding: 0;
text-align: left;
}

.dropdownMenu a {
text-decoration: none;
color: #0a0a0a;
font-size: 18px;
}

.dropdownMenu li:hover {
  background-color: rgba(204, 204, 204, 0.8);
}

.user {
  display: flex;
  align-items: center;
}
.user > a {
  margin-left: 20px;
}

 .postLink {
   width: 32px;
   height: 32px;
   background-size: 32px;
 }


.mainBlock {
 max-width: 1200px;
 display: flex;
 flex-direction: row;
 align-items: stretch;
 justify-content: space-between;
 height: 100%;
}

.sideBlock {
 min-width: 100px;
 min-height: 100px;
 margin: 10px;
 background-color: #bbb;
 border-radius: 20px;
 flex-grow: 1;
}

.articleContainer {
 display: flex;
 flex-direction: column;
 flex-grow: 2;
 margin: 0 20px;
}

.articleContainer article {
 margin: 10px 0;
 padding: 10px;
 background-color: #eee;
 border-radius: 20px;
}

.articleContainer article  > * {
 margin-bottom: 10px;
}

.articleInfo {
 width: 100%;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

.articleContainer article  > *:last-child {
 margin: 0;
}

.articleBody img {
 width: 100%;
}

.articleInfo > a ~ * {
font-size: 22px;
}


.likeBtn {
 cursor: pointer;
 width: 32px;
 height: 32px;
 background-image: url(../img/thumb-up.png);
 margin-top: 10px;
 margin-bottom: 5px;
}

.likeBtn:active {
 transform: scale(.75);
}

footer {
 font-size: 32px;
 padding: 30px;
 background-color: #bbb;
 text-align: center;
}

@media (max-width: 800px) {
 .sideBlock {
    display: none;
 }
}

@media (max-width: 500px) {
  header a, footer{
    font-size: 24px;
 }
}

 .userLink {
    width: 48px;
    height: 48px;
    background-size: 48px;
 }
 
 .dropdownMenu {
  top: 55px;
  width: 180px;
 }

 .dropdownMenu a {
  font-size: 16px;
 }

 .articleContainer article  > * {
   margin-bottom: 10px;
 }

 .articleInfo {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
 }

 .articleContainer article  > *:last-child {
   margin: 0;
 }

 .articleBody img {
   width: 100%;
 }

 .articleInfo > a ~ * {
  font-size: 22px;
 }

 .likeBtn {
   cursor: pointer;
   width: 32px;
   height: 32px;
   background-image: url(../img/thumb-up.png);
 }

 .likeBtn:active {
   transform: scale(.75);
 }

 footer {
  font-size: 32px;
  padding: 30px;
  background-color: #bbb;
  text-align: center;
}

@media (max-width: 800px) {
  .sideBlock {
     display: none;
  }
}

@media (max-width: 500px) {
  header a, footer{
     font-size: 24px;
  }

  .userLink {
     width: 48px;
     height: 48px;
     background-size: 48px;
  }
  
  .dropdownMenu {
   top: 55px;
   width: 180px;
  }

  .dropdownMenu a {
   font-size: 16px;
  }
}